<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <% if(locals.invalid) { %>
    <ul>
      <li>Invalid username and password.</li>
    </ul>
    <% } %>
    <form action="/login" method="post">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <a href="/register">New user</a>
  </body>
</html>
